<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Advanced_PassGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <Advanced_PassGen.Properties.Settings>
            <setting name="VisualStyle" serializeAs="String">
                <value>Metro</value>
            </setting>
            <setting name="MetroColor" serializeAs="String">
                <value>#FF07779C</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CharacterSet" serializeAs="String">
                <value />
            </setting>
            <setting name="BorderThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowPasswordStrength" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportLength" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportStrength" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowDragging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WindowResizeBorder" serializeAs="String">
                <value>3</value>
            </setting>
        </Advanced_PassGen.Properties.Settings>
    </userSettings>
</configuration>
