<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeDead.UpdateManager" version="1.5.0" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="17.2.0.39" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="17.2.0.39" targetFramework="net48" />
  <package id="Syncfusion.Tools.WPF" version="17.2.0.39" targetFramework="net48" />
</packages>